<!DOCTYPE html>
<html>
    <head>
        <title>KETI 밸류체인 플랫폼</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="format-detection" content="telephone=no" />
	    <meta name="description" content="KETI 밸류체인 플랫폼">
        <link href="css/common.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <header>
                <!-- 상단 메뉴 영역 시작-->
                <div class="gnb-wrap">
                    <a href="#" class="logo">KETI 밸류체인 플랫폼</a>
                    <ul class="gnb">
                        <li><a href="#" class="gnb-text">플랫폼 개요</a></li>
                        <li class="active"><a href="#" class="gnb-text">데이터 조회</a></li>
                        <li><a href="#" class="gnb-text">데이터 신청</a></li>
                        <li><a href="#" class="gnb-text">알림 소식</a></li>
                    </ul>
                    <button class="gnb_toggleBtn">menu</button>
                    <div class="util">
                        <button type="button" class="btn-primary-s">로그인</button>
                    </div>
                </div>
                <!-- 상단 메뉴 영역 끝-->
            </header>


            <!-- 타이틀 영역 시작-->
            <div class="title-wrapper gnb_02">
                <div class="inner">
                    <h1>데이터 조회</h1>
                    <div class="location">
                        <ul>
                            <li><img src="/images/icon/home.svg"></li>
                            <li><img src="/images/icon/chevron-right-s.svg"></li>
                            <li>데이터 조회</li>
                            <li><img src="/images/icon/chevron-right-s.svg"></li>
                            <li>데이터 카탈로그 조회</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 타이틀 영역 끝-->


            <!-- 탭 메뉴 영역 시작 -->
            <div class="lnb-wrap">
                <div class="lnb">
                    <ul>
                        <li><a href="#" class="lnb-text">데이터 카탈로그 소개</a></li>
                        <li class="active"><a href="#" class="lnb-text">데이터 카탈로그 조회</a></li>
                        <li><a href="#" class="lnb-text">생체신호 데이터</a></li>
                    </ul>
                </div>
            </div>
            <!-- 탭 메뉴 영역 끝 -->


            <!-- 데이터 카탈로그 선택 영역 시작 -->
            <div class="content-wrapper mB100">
                <div class="inner">
                    <h3>데이터 카탈로그 조회</h3>
                    <div class="data_catalogue_list_area">
                        <div class="data_catalogue_list_01">
                            <div class="title">영상 데이터</div>
                            <div class="box">
                                <div class="catalogue"><a href="#">Chest X-Ray Images(Pneumonia)</a></div>
                                <div class="catalogue"><a href="#">Brain MRI<br>segmentation</a></div>
                                <div class="catalogue"><a href="#">Brain Tumor Classification(MRI)</a></div>
                                <div class="catalogue"><a href="#">CelebFaces Attributes(CelebA) Dataset</a></div>
                                <div class="catalogue"><a href="#">WIDER FACE: A FaceDetection Benchmark</a></div>
                                <div class="catalogue"><a href="#">COVID-19 Radiography Database</a></div>
                                <div class="catalogue"><a href="#">COVID-19<br>CT scans</a></div>
                                <div class="catalogue"><a href="#">Skin Cancer MNIST:HAM10000</a></div>
                            </div>
                        </div>
                        <div class="data_catalogue_list_02">
                            <div class="title">신호 데이터</div>
                            <div class="box">
                                <div class="catalogue"><a href="#">ECG Heartbeat Categorization Dataset</a></div>
                                <div class="catalogue active"><a href="#">EEG-Alcohol</a></div>
                                <div class="catalogue"><a href="#">Confused student EEG brainwave data</a></div>
                                <div class="catalogue"><a href="#">Non-invasive Blood Pressure Estimation</a></div>
                                <div class="catalogue"><a href="#">MIT-BIH Arrhvthmia</a></div>
                            </div>
                        </div>
                        <div class="data_catalogue_list_group">
                            <div class="data_catalogue_list_03">
                                <div class="title">음성 데이터</div>
                                <div class="box">
                                    <div class="catalogue"><a href="#">호흡기 질환자 호흡음</a></div>
                                    <div class="catalogue"><a href="#">호흡기 질환자 폐음</a></div>
                                </div>
                            </div>
                            <div class="data_catalogue_list_03">
                                <div class="title">정형 데이터</div>
                                <div class="box">
                                    <div class="catalogue"><a href="#">Heart Failure Prediction</a></div>
                                    <div class="catalogue"><a href="#">Parkinson Disease Data</a></div>
                                    <div class="catalogue" style="width: 438px;"><a href="#">Heart Attack Analysis & Prediction Dataset</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 데이터 카탈로그 선택 영역 끝 -->


            <!-- 데이터 카탈로그 상세페이지 시작 -->
            <div class="data-wrapper">
                <div class="inner">
                    <h3>EEG-Alcohol</h3>
                    <p class="sub-text">알코올 중독환자의 EEG 데이터</p>

                    <div class="data_set">
                        <!-- 데이터 개요 -->
                        <div class="data_set_box">
                            <div class="data_set_title">데이터 개요</div>
                            <div class="data_set_content">
                                <ul>
                                    <li>이 데이터는 EEG가 알코올 중독에 대한 유전적 소인의 상관관계를 조사하기 위한 대규모 연구에서 나온 것입니다.</li>
                                    <li>여기에는 1초 동안 256Hz(3.9msec epoch)로 샘플링된 피험자의 두피에 배치된 64개 전극의 측정값이 포함되어 있습니다.</li>
                                    <li>두 그룹의 피험자, 즉 알코올 중독자와 대조군이 있었습니다.</li>
                                    <li>각 피험자는 1980년 Snodgrass 및 Vanderwart 사진 세트에서 선택한 물체 사진인 단일 자극(S1) 또는 두 자극(S1 및 S2)에 노출되었습니다.</li>
                                    <li>두 개의 자극이 표시되면 S1이 S2와 동일한 일치 조건 또는 S1이 S2와 다른 비일치 조건으로 제시되었습니다.</li>
                                </ul>
                            </div>
                        </div>

                        <!-- 데이터 구조 및 형식 -->
                        <div class="data_set_box">
                            <div class="data_set_title">데이터 구조<br>및 형식</div>
                            <div class="data_set_content">
                                <ul>
                                    <li>데이터 : 948건</li>
                                    <li>trial number
                                        <ul>
                                            <li>시험번호(같은 사용자에 대해 시도 횟수, 사용자 마다 다르며 중간에 없는 경우도 있음)</li>
                                        </ul>
                                    </li>
                                    <li>sensor position : 두피의 센서 위치(International 10-20 시스템 기준), 각 포지션 별로 sample num, time이 변화</li>
                                    <li>sample num : 샘플 번호(0~255), 시간 값에 대한 인덱스</li>
                                    <li>sensor value : 센서값(mV), 두피에 부착한 센서에서 받는 뇌파 데이터</li>
                                    <li>subject identifier : 식별자(a:알코올 중독 / c:제어 상태)</li>
                                    <li>matching condition
                                        <ul>
                                            <li>S1 obj : 단일 개체 보여줌</li>
                                            <li>S2 match : S1과 같은 조건으로 된 S2를 보여줌</li>
                                            <li>S2 nomatch : S1과 다른 조건으로 된 S2를 보여줌</li>
                                        </ul>
                                    </li>
                                    <li>channel : 채널번호(0~63), sensor position의 index</li>
                                    <li>name : 참여한 사람의 번호, 한명이 여러번 참여한 경우 같은 이름 사용</li>
                                    <li>time : 측정 시간(단위:초)</li>
                                </ul>
                            </div>
                        </div>

                        <!-- 데이터 샘플 -->
                        <div class="data_set_box">
                            <div class="data_set_title">데이터 샘플</div>
                            <div class="data_set_content">
                                <img src="/images/data_ catalogue/catalogue_10.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 데이터 카탈로그 상세페이지 끝 -->



            <!-- 하단 푸터 영역 시작-->
            <footer class="footer">
                <div class="inner_pc">
                    <p>경기도 성남시 분당구 새나리로 25 (야탑동) KETI 한국전자기술연구원 <span>｜</span> TEL : 031-421-3414 <span>｜</span> FAX : 031-421-3422</p>
                    <p class="mB20">대표 : 000 <span>｜</span> 개인정보관리책임자 : OOO <span>｜</span> 팩스 : 031-123-4567<span>｜</span> 이메일 : abc@keti.re.kr</p>
                    <div class="link_area">
                        <p>Copyright(C) 2016 KOREA ELECTRONICS TECHNOLOGY INSTITUTE., All Rights Reserved.</p>
                        <div>
                            <a href="#">개인정보취급방침</a>
                            <a href="#" class="mL15">이용약관</a>
                        </div>
                    </div>
                </div>
                <div class="inner_mobile">
                    <p>경기도 성남시 분당구 새나리로 25 (야탑동) KETI 한국전자기술연구원 <br> TEL : 031-421-3414 <span>｜</span> FAX : 031-421-3422</p>
                    <p class="mB20">대표 : 000 <span>｜</span> 개인정보관리책임자 : OOO <br> 팩스 : 031-123-4567<span>｜</span> 이메일 : abc@keti.re.kr</p>
                    <div class="link_area">
                        <p>Copyright(C) 2016 KOREA ELECTRONICS TECHNOLOGY INSTITUTE., All Rights Reserved.</p>
                        <div>
                            <a href="#">개인정보취급방침</a>
                            <a href="#" class="mL10">이용약관</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- 하단 푸터 영역 끝-->


        </div>

        <!-- header style JavaScript -->
        <script>
            $(document).ready(function(){
                $(window).scroll(function(){
                    var scroll = $(window).scrollTop();
                    if (scroll > 1) {
                    $("header").css("background" , "rgba(255, 255, 255)");
                    $(".gnb-text").css("color" , "#242424");
                    $(".logo").css("background" , "url('images/logo_02.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background" , "url('images/icon/menu-burger_02.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background-size" , "30px");
                    }
                    else{
                    $("header").css("background" , "rgba(255, 255, 255, 0)");
                    $(".gnb-text").css("color" , "#ECEDF0");
                    $(".logo").css("background" , "url('images/logo.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background" , "url('images/icon/menu-burger.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background-size" , "30px");
                    }
                })
            })
        </script>

        <!-- header mobile style JavaScript -->
        <script>
            const toggleBtn = document.querySelector('.gnb_toggleBtn');
            const menu = document.querySelector('.gnb');
            const icons = document.querySelector('.util');

            toggleBtn.addEventListener('click' , ()=>{
                menu.classList.toggle('menuActive');
            });
        </script>


    </body>
</html>
