<!DOCTYPE html>
<html>
    <head>
        <title>KETI 밸류체인 플랫폼</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="format-detection" content="telephone=no" />
	    <meta name="description" content="KETI 밸류체인 플랫폼">
        <link href="css/common.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <header>
                <!-- 상단 메뉴 영역 시작-->
                <div class="gnb-wrap">
                    <a href="#" class="logo">KETI 밸류체인 플랫폼</a>
                    <ul class="gnb">
                        <li><a href="#" class="gnb-text">플랫폼 개요</a></li>
                        <li><a href="#" class="gnb-text">데이터 조회</a></li>
                        <li class="active"><a href="#" class="gnb-text">데이터 신청</a></li>
                        <li><a href="#" class="gnb-text">알림 소식</a></li>
                    </ul>
                    <button class="gnb_toggleBtn">menu</button>
                    <div class="util">
                        <button type="button" class="btn-primary-s">로그인</button>
                    </div>
                </div>
                <!-- 상단 메뉴 영역 끝-->
            </header>


            <!-- 타이틀 영역 시작-->
            <div class="title-wrapper gnb_03">
                <div class="inner">
                    <h1>데이터 신청</h1>
                    <div class="location">
                        <ul>
                            <li><img src="/images/icon/home.svg"></li>
                            <li><img src="/images/icon/chevron-right-s.svg"></li>
                            <li>데이터 신청</li>
                            <li><img src="/images/icon/chevron-right-s.svg"></li>
                            <li>데이터 이용신청</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 타이틀 영역 끝-->


            <!-- 탭 메뉴 영역 시작 -->
            <div class="lnb-wrap">
                <div class="lnb">
                    <ul>
                        <li><a href="#" class="lnb-text">데이터 이용신청 절차 안내</a></li>
                        <li class="active"><a href="#" class="lnb-text">데이터 이용신청</a></li>
                    </ul>
                </div>
            </div>
            <!-- 탭 메뉴 영역 끝 -->


            <!-- 컨텐츠 영역 시작 -->
            <div class="content-wrapper mB100">
                <div class="inner">
                    <h3>데이터 이용신청</h3>
                    <div class="step_list_area mB40">
                        <div class="step_list">
                            <ul>
                            <li class="off">
                                <div>1</div><p>이용 안내</p>
                            </li>
                            <li class="line">
                                <div></div>
                            </li>
                            <li class="on">
                                <div>2</div><p>기본 정보 입력</p>
                            </li>
                            <li class="line">
                                <div></div>
                            </li>
                            <li class="off">
                                <div>3</div><p>서류 제출</p>
                            </li>
                            <li class="line">
                                <div></div>
                            </li>
                            <li class="off">
                                <div>4</div><p>제출 확인</p>
                            </li>
                            <li class="line">
                                <div></div>
                            </li>
                            <li class="off">
                                <div>5</div><p>신청 완료</p>
                            </li>
                            </ul>
                        </div>
                    </div>

                    <div class="title_area">
                        <h5 class="mB20">기본 정보 입력</h5>
                        <!--<button class="btn-gray-s">제출서류 양식 다운로드 ></button>-->
                    </div>

                    <div class="signup_area">
                        <div class="input_list">

                            <div class="input_area">
                                <div class="label_area">
                                  <label>기관명</label>
                                </div>
                                <input type="text" id="" name="" autocomplete="off" placeholder="기관명을 입력하세요">
                            </div>

                            <div class="input_area">
                                <div class="label_area">
                                  <label>사업자 등록번호</label>
                                </div>
                                <input type="text" id="" name="" autocomplete="off" placeholder="사업자 등록번호를 입력하세요">
                            </div>

                            <div class="input_area">
                                <div class="label_area">
                                  <label>이름</label>
                                </div>
                                <input type="text" id="" name="" autocomplete="off" placeholder="이름을 입력하세요">
                            </div>

                            <div class="input_area">
                                <div class="label_area">
                                  <label>전화번호</label>
                                </div>
                                <input type="text" id="" name="" autocomplete="off" placeholder="전화번호를 입력하세요">
                            </div>

                            <div class="input_area">
                                <div class="label_area">
                                  <label>이메일</label>
                                </div>
                                <input type="text" id="" name="" autocomplete="off" placeholder="이메일을 입력하세요">
                            </div>

                            <div class="input_area">
                                <div class="label_area">
                                  <label>주소</label>
                                </div>
                                <div class="group">
                                    <input type="text" id="" name="" autocomplete="off" style="width:83%;" placeholder="주소를 검색하세요" readonly>
                                    <button class="btn-primary-m ">주소 검색</button>
                                    <input type="text" id="" name="" autocomplete="off" placeholder="상세주소를 입력하세요">
                                </div>
                            </div>

                            <div class="input_area">
                                <div class="label_area">
                                  <label>신청 데이터</label>
                                </div>
                                <input type="text" id="" name="" autocomplete="off" placeholder="신청 데이터를 입력하세요">
                            </div>

                            <div class="input_area">
                                <div class="label_area">
                                  <label>데이터 활용 목적</label>
                                </div>
                                <textarea id="" name="" placeholder="선행연구, 연구타당성 검토, 시제품개발, 서비스개발 등"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="btn_area mT30">
                        <button class="btn-Line-primary-l">임시 저장</button>
                        <button class="btn-primary-l">임시 저장 후 다음 단계 이동</button>
                    </div>


                </div>
            </div>
            <!-- 컨텐츠 영역 끝 -->



            <!-- 하단 푸터 영역 시작-->
            <footer class="footer">
                <div class="inner_pc">
                    <p>경기도 성남시 분당구 새나리로 25 (야탑동) KETI 한국전자기술연구원 <span>｜</span> TEL : 031-421-3414 <span>｜</span> FAX : 031-421-3422</p>
                    <p class="mB20">대표 : 000 <span>｜</span> 개인정보관리책임자 : OOO <span>｜</span> 팩스 : 031-123-4567<span>｜</span> 이메일 : abc@keti.re.kr</p>
                    <div class="link_area">
                        <p>Copyright(C) 2016 KOREA ELECTRONICS TECHNOLOGY INSTITUTE., All Rights Reserved.</p>
                        <div>
                            <a href="#">개인정보취급방침</a>
                            <a href="#" class="mL15">이용약관</a>
                        </div>
                    </div>
                </div>
                <div class="inner_mobile">
                    <p>경기도 성남시 분당구 새나리로 25 (야탑동) KETI 한국전자기술연구원 <br> TEL : 031-421-3414 <span>｜</span> FAX : 031-421-3422</p>
                    <p class="mB20">대표 : 000 <span>｜</span> 개인정보관리책임자 : OOO <br> 팩스 : 031-123-4567<span>｜</span> 이메일 : abc@keti.re.kr</p>
                    <div class="link_area">
                        <p>Copyright(C) 2016 KOREA ELECTRONICS TECHNOLOGY INSTITUTE., All Rights Reserved.</p>
                        <div>
                            <a href="#">개인정보취급방침</a>
                            <a href="#" class="mL10">이용약관</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- 하단 푸터 영역 끝-->


        </div>

        <!-- header style JavaScript -->
        <script>
            $(document).ready(function(){
                $(window).scroll(function(){
                    var scroll = $(window).scrollTop();
                    if (scroll > 1) {
                    $("header").css("background" , "rgba(255, 255, 255)");
                    $(".gnb-text").css("color" , "#242424");
                    $(".logo").css("background" , "url('images/logo_02.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background" , "url('images/icon/menu-burger_02.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background-size" , "30px");
                    }
                    else{
                    $("header").css("background" , "rgba(255, 255, 255, 0)");
                    $(".gnb-text").css("color" , "#ECEDF0");
                    $(".logo").css("background" , "url('images/logo.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background" , "url('images/icon/menu-burger.svg')no-repeat");
                    $(".gnb_toggleBtn").css("background-size" , "30px");
                    }
                })
            })
        </script>

        <!-- header mobile style JavaScript -->
        <script>
            const toggleBtn = document.querySelector('.gnb_toggleBtn');
            const menu = document.querySelector('.gnb');
            const icons = document.querySelector('.util');

            toggleBtn.addEventListener('click' , ()=>{
                menu.classList.toggle('menuActive');
            });
        </script>


    </body>
</html>
